<?php include 'partials/head.html'; ?>
<body>
    <?php include 'partials/nav.html'; ?>
    <main class="container">
        <section class="form-card">
            <h1><?= isset($monster) ? 'Edit Monster' : 'Add New Monster'; ?></h1>
            <form action="/admin/add-monster<?= isset($monster) ? '/'.$monster['id'] : ''; ?>" method="POST" class="admin-form">
                <div class="form-group">
                    <label>Name:</label>
                    <input name="name" type="text" value="<?= $monster['name'] ?? ''; ?>" required>
                </div>
                <div class="form-group">
                    <label>Descritpion:</label>
                    <textarea name="description" required><?= $monster['description'] ?? ''; ?></textarea>
                </div>
                <div class="form-group">
                    <label>Image URL:</label>
                    <input name="image_url" type="text" value="<?= $monster['image_url'] ?? ''; ?>" required>
                </div>
                <div class="form-group">
                    <label>Monster type:</label>
                    <select name="type_id" required>
                        <option value="" disabled <?= !isset($monster) ? 'selected' : ''; ?>>Wybierz typ</option>
                        <?php foreach ($types as $type): ?>
                            <option value="<?= $type['id']; ?>" 
                                <?= (isset($monster) && $monster['monster_type_id'] == $type['id']) ? 'selected' : ''; ?>>
                                <?= $type['name']; ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn-save"><?= isset($monster) ? 'Save changes' : 'Add Monster'; ?></button>
                    <a href="/admin/monsters" class="btn-cancel">Cancel</a>
                </div>
            </form>
        </section>
    </main>
</body>
</html>