<?php include 'partials/head.html'; ?>
<body>
    <?php include 'partials/nav.html'; ?>
    <h1>Zarządzanie Monsterami</h1>
    <a href="/admin/add-monster"><button>Dodaj nowy</button></a>
    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($monsters as $monster): ?>
            <tr>
                <td><?= $monster['name']; ?></td>
                <td>
                    <a href="/admin/add-monster/<?= $monster['id']; ?>"><button>Edytuj</button></a>
                    <form action="/admin/delete-monster/<?= $monster['id']; ?>" method="POST" style="display: inline;" onsubmit="return confirm('Czy na pewno chcesz usunąć tego monstera?');">
                        <button type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</body>
</html>