<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?= $title ?? 'Monster Energy'; ?></title>
    <link rel="stylesheet" href="/public/styles/style.css">
    <script src="/public/scripts/password-validation.js" defer></script>
    <script src="/public/scripts/modal.js" defer></script>
    <script src="/public/scripts/monster-filter.js" defer></script>
    <script src="/public/scripts/sort.js" defer></script>
    <script src="/public/scripts/admin-monster-filter.js" defer></script>
</head>